################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wherehaveibeen/v16/.suo
/.vs
.vscode/

/Backend/WhereHaveIBeen/.vs/WhereHaveIBeen/v16
/Backend/WhereHaveIBeen/WhereHaveIBeen/obj
/Backend/WhereHaveIBeen/WhereHaveIBeen/Properties/PublishProfiles
/Backend/WhereHaveIBeen/Application/obj
/Backend/WhereHaveIBeen/Application/bin/Debug/netstandard2.0
/Backend/WhereHaveIBeen/Storage/bin/Debug/netstandard2.0
/Backend/WhereHaveIBeen/Storage/obj
/Backend/WhereHaveIBeen/WhereHaveIBeen/bin
/Backend/WhereHaveIBeen/.vs/WhereHaveIBeen/DesignTimeBuild/.dtbcache.v2
/Backend/WhereHaveIBeen/Application/bin/Release/netstandard2.0
/Backend/WhereHaveIBeen/Storage/bin/Release/netstandard2.0

Frontend/node_modules/
/Backend/WhereHaveIBeen/WhereHaveIBeen/.config/dotnet-tools.json
/Backend/WhereHaveIBeen/WhereHaveIBeen/db.sqlite
/Backend/WhereHaveIBeen/WhereHaveIBeen/appsettings.Development.json
/Frontend/yarn.lock
